{% extends "layout.html" %}

{% block content %}
<div id="addMenu">
	 {% if collections.length > 0 %}
		{% for c in collections %}
			<h2 id="type">{{ c.name }}</h2>
			<select id="{{ c.name }}" class='selector'>
			{% for item in c.list %}
				<option value="{{item.name}}">{{item.name}}</option>
			{% endfor %}
			</select>
		{% endfor %}
	{% else %}
	  There are no pages. Why don't you add one?
	{% endif %}
	<!--<h2 id="type">Hotels</h2>
	<select id="hotels" class='selector'>

		<option value="{{item.name}}">Hilton</option>
		<option value="{{item.name}}">Sherdon</option>

	</select>-->
</div>

{% endblock %}
