<html>
<head>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGt92JpOe6qlwvGG2W5FqlzgD--gQkNYA&sensor=true"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <script>
    function initialize_gmaps() {
      // initialize new google maps LatLng object
      var myLatlng = new google.maps.LatLng(40.705189,-74.009209);
      // set the map options hash
      var mapOptions = {
          center: new google.maps.LatLng(40.714985, -74.000841),
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          mapTypeControl: false,
          panControl: false,
          zoomControlOptions: {
            style: google.maps.ZoomControlStyle.LARGE,
            position: google.maps.ControlPosition.LEFT_CENTER
          }
      };
      // get the maps div's HTML obj
      var map_canvas_obj = document.getElementById("map");
      // initialize a new Google Map with the options
      var map = new google.maps.Map(map_canvas_obj, mapOptions);
      // Add the marker to the map
      var hotelMarker = new google.maps.Marker({
          position: new google.maps.LatLng(40.714985, -74.015841),
          title:"Conrad New York Hotel"
      });
      var activityMarker = new google.maps.Marker({
          position: new google.maps.LatLng(40.701125, -74.01250),
          title:"Staten Island Ferry Whitehall Terminal"
      });
      var activityMarker2 = new google.maps.Marker({
          position: new google.maps.LatLng(40.707119, -74.003602), // given location was off
          title:"South Street Seaport"
      });
      var restaurantMarker = new google.maps.Marker({
          position: new google.maps.LatLng(40.718679, -74.008900),
          title:"Jungsik"
      });
      // Add the marker to the map by calling setMap()
      hotelMarker.setMap(map);
      activityMarker.setMap(map);
      activityMarker2.setMap(map);
      restaurantMarker.setMap(map);
    }

    $(document).ready(function() {
        initialize_gmaps();
    });
  </script>

  <script>
  $(document).ready(function() {
      $('#days li').click(function() {
        $('#activities').slideToggle();
      })
      $('#add').click(function() {
        $('#addMenu').slideToggle();
      })
  });
  </script>
<link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
  <div id="map"></div>
<div id="nav-top">
  <div id="brand">TripAdvisor</div>
  <ul id="days">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>+</li>
  </ul>
</div>
<div id="nav-bottom">
  <div id="add">Add Activity</div>
  {% block content %}{% endblock %}
</div>
<div id="activities">
  <ul>
    <li>hi</li>
    <li>bye</li>
  </ul>
</div>
</body>
</html>
