<html>
<head>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGt92JpOe6qlwvGG2W5FqlzgD--gQkNYA&sensor=true"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script>
    function initialize() {

    // Create an array of styles.
    var styles = [
      {
        stylers: [
          { hue: "#f600ff" }, //blue: #00ffe6 pink:#f600ff
          { saturation: -20 }
        ]
      },{
        featureType: "road",
        elementType: "geometry",
        stylers: [
          { lightness: 100 },
          { visibility: "simplified" }
        ]
      },{
        featureType: "road",
        elementType: "labels",
        stylers: [
          { visibility: "off" }
        ]
      }
    ];

    // Create a new StyledMapType object, passing it the array of styles,
    // as well as the name to be displayed on the map type control.
    var styledMap = new google.maps.StyledMapType(styles,
      {name: "Styled Map"});

    // Create a map object, and include the MapTypeId to add
    // to the map type control.
    var mapOptions = {
      zoom: 15,
      center: new google.maps.LatLng(40.714985, -74.000841),
      mapTypeControlOptions: {
        mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
      }
    };
    var map = new google.maps.Map(document.getElementById('map'),
      mapOptions);

    //Associate the styled map with the MapTypeId and set it to display.
    map.mapTypes.set('map_style', styledMap);
    map.setMapTypeId('map_style');

    var hotelMarker = new google.maps.Marker({
          position: new google.maps.LatLng(40.714985, -74.015841),
          title:"Conrad New York Hotel"
      });
      var activityMarker = new google.maps.Marker({
          position: new google.maps.LatLng(40.701125, -74.01250),
          title:"Staten Island Ferry Whitehall Terminal"
      });
      var activityMarker2 = new google.maps.Marker({
          position: new google.maps.LatLng(40.707119, -74.003602), // given location was off
          title:"South Street Seaport"
      });
      var restaurantMarker = new google.maps.Marker({
          position: new google.maps.LatLng(40.718679, -74.008900),
          title:"Jungsik"
      });
      // Add the marker to the map by calling setMap()
      hotelMarker.setMap(map);
      activityMarker.setMap(map);
      activityMarker2.setMap(map);
      restaurantMarker.setMap(map);
  }

    $(document).ready(function() {
        initialize();
    });
  </script>

  <script>
  $(document).ready(function() {
      $('#days li').click(function() {
        $('#activities').slideToggle();
      })
      $('#add').click(function() {
        $('#addMenu').slideToggle();
      })
      $('#brand').click(function(){
        $('#about').show();
      })
      $('#about').click(function(){
        $('#about').hide(); 
      })
  });
  </script>
<link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
  <div id="map"></div>
<div id="nav-top">
  <div id="brand">TripAdvisor</div>
  <ul id="days">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>+</li>
  </ul>
</div>
<div id="nav-bottom">
  <div id="add">Add Activity</div>
  {% block content %}{% endblock %}
</div>
<div id="activities">
  <h2>Hotel</h2>
  <ul>
    <li><span class="glyphicon glyphicon-remove"></span>  Conrad New York Hotel</li>
  </ul>
  <h2>Activities</h2>
  <ul>
    <li><span class="glyphicon glyphicon-remove"></span>  Staten Island Ferry</li>
    <li><span class="glyphicon glyphicon-remove"></span>  South Street Sea Port</li>
  </ul>
  <h2>Restaurants</h2>
  <ul>
    <li><span class="glyphicon glyphicon-remove"></span>  Staten Island Ferry</li>
  </ul>
</div>
<div id='about'>
  <div id='about_content'
    <p>About // Contact
  </div>
</div>
</body>
</html>
