body {
  margin: 0;
  color: white;
  font-family: helvetica, sans-serif; }

a {
  text-decoration: none;
  color: white; }

#nav-top {
  background-color: black;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  line-height: 50px;
  border-radius: 0 0 0 15px; }

#brand {
  display: inline;
  font-family: 'Lobster', cursive;
  color: #d7ceb2;
  text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
  font-size: 55px;
  width: 200px; }

#days {
  margin: 0 25px 0 0;
  float: right;
  color: white; }
  #days::before {
    content: 'Days:'; }
  #days li {
    list-style: none;
    display: inline;
    padding: 0 10px; }
    #days li:hover {
      cursor: pointer;
      color: #d7ceb2; }

#map {
  width: 100vw;
  height: 100vh; }

#nav-bottom {
  position: fixed;
  bottom: 0;
  right: 0; }
  #nav-bottom #add {
    box-sizing: border-box;
    margin-left: 186px;
    background-color: black;
    width: 114px;
    padding: 10px;
    border-radius: 5px 5px 0 0; }
    #nav-bottom #add:hover {
      cursor: pointer;
      color: #d7ceb2; }
  #nav-bottom #addMenu {
    width: 300px;
    box-sizing: border-box;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 20px 0;
    display: none; }
    #nav-bottom #addMenu h2 {
      margin: 0 0 5px;
      font-weight: normal; }
    #nav-bottom #addMenu select {
      background-color: transparent;
      color: white; }
    #nav-bottom #addMenu .selector {
      margin-bottom: 25px; }

#activities {
  position: fixed;
  top: 50px;
  right: 0;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  padding: 20px; }
  #activities h2 {
    margin: 5px 0;
    font-weight: normal; }
  #activities ul {
    padding: 0; }
  #activities li {
    margin: 0;
    padding: 0;
    list-style: none; }

#about {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }
  #about #about_content {
    background-color: white;
    height: 300px;
    width: 300px;
    margin: 100px auto 0;
    color: black; }
