$addMenuWidth: 375px;
$addButtonMargin: $addMenuWidth - 62px;
$font-default-color: #00ffe6;

body {
  margin: 0;
  color: #ccc;
  font-family: helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #ccc;
}

#nav-top {
  background-color: black;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  line-height: 50px;
  border-radius: 0 0 0 15px ;
}

#brand {
  display: inline;
  font-family: 'Lobster', cursive;
  color: $font-default-color;
	text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
  font-size: 55px;
  width: 200px;
}
#days {
  font-size: 18px;
  float: right;
  color: white;
  line-height: 50px;
  span {
    font-size: 15px;
  }
  ul {
    margin: 0 25px 0 0;
    padding-left: 5px;
    display: inline;
  }
  li {
    font-family: 'Lobster', cursive;
    color: white;
  	text-shadow: 1px 1px 0px #2c2e38, 2px 2px 0px #5c5f72;
    list-style: none;
    display: inline;
    padding: 0 10px;
    &:hover {
      cursor: pointer;
      color: $font-default-color;
    }
    &.active {
      color: $font-default-color;
    }
  }
}

#map {
  width: 100vw;
  height: 100vh;
}

#nav-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  #add {
    margin-right: 25px;
    color: white;
    box-sizing: border-box;
    margin-left: $addButtonMargin;
    background-color: black;
    width: 37px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-size: 18px;
    &:hover {
      cursor: pointer;
      color: $font-default-color;
    }
  }
  #addMenu {
    width: $addMenuWidth;
    box-sizing: border-box;
    background-color: black;
    background-color:rgba(0,0,0,0.7);
    color: white;
    h2 {
      margin: 0 0 5px;
      font-weight: normal;
      &::first-letter {
        font-family: 'Lobster', cursive;
        color: $font-default-color;
      	text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
      }
    }
    select {
      background-color: rgba(0,0,0,0);
      color: white;
    }
    .selector {
      margin-bottom: 25px;
    }
    padding: 20px 20px 0;
    display: none;
  }
}

#activities {
  position: fixed;
  top: 50px;
  right: 0;
  width: 250px;
  background-color:rgba(0,0,0,0.7);
  display: none;
  padding: 20px;
  color: white;
  h2 {
    margin: 5px 0;
    font-weight: normal;
    &::first-letter {
      font-family: 'Lobster', cursive;
      color: $font-default-color;
    	text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
    }
  }
  ul {
    padding: 0;
    margin-bottom: 25px;
  }
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

#about {
  display: none;
  background-color:rgba(0,0,0,0.7);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  #about_content {
    border-radius: 10px;
    background-color: #F5BDF7;
    height: 50%;
    width: 50%;
    margin: 100px auto 0;
    color:black;
    padding: 10px;
  }
}
