body {
  margin: 0;
  color: white;
  font-family: helevetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
#nav-top {
  background-color: black;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  line-height: 50px;
  border-radius: 0 0 0 15px ;
}
#brand {
  display: inline;
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 55px;
  width: 200px;
}
#days {
  &::before {
    content: 'Days:'
  }
  margin: 0 10px 0 0;
  float: right;
  color: white;
  li {
    list-style: none;
    display: inline;
    padding: 0 10px;
    &:hover {
      cursor: pointer;
    }
  }
}

#map {
  // z-index: -100;
  width: 100vw;
  height: 100vh;
}

#nav-bottom {
  position: fixed;
  bottom: 0;
  right: 25px;
  #add {
    background-color: black;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    &:hover {
      cursor: pointer;
    }
  }
}

#activities {
  position: fixed;
  top: 50px;
  right: 0;
  width: 200px;
  background-color: black;
  opacity: 0.5;
  .content {
    opacity: 1;
  }
  display: none;
}
