body {
  margin: 0;
  color: white;
  font-family: helevetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
#nav-top {
  background-color: black;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  line-height: 50px;
  border-radius: 0 0 0 15px ;
}
#brand {
  display: inline;
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 55px;
  width: 200px;
}
#days {
  &::before {
    content: 'Days:'
  }
  margin: 0 25px 0 0;
  float: right;
  color: white;
  li {
    list-style: none;
    display: inline;
    padding: 0 10px;
    &:hover {
      cursor: pointer;
    }
  }
}

#map {
  width: 100vw;
  height: 100vh;
}

#nav-bottom {
  position: fixed;
  bottom: 0;
  right: 25px;
  #add {
    margin-left: 96;
    background-color: black;
    width: 84px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    &:hover {
      cursor: pointer;
    }
  }
  #addMenu {
    width: 200px;
    background-color: black;
    background-color:rgba(0,0,0,0.5);
    h2 {
      margin-top: 0;
    }
    padding: 10px;
  }
}

#activities {
  position: fixed;
  top: 50px;
  right: 0;
  width: 200px;
  background-color:rgba(0,0,0,0.5);
  display: none;
}

// .content {
//   opacity: 1!important;
// }
